[package]
authors = ["Webb Technologies Inc."]
description = "FRAME pallet for proposing and reporting signed transaction blobs."
edition = "2021"
homepage = "https://substrate.dev"
license = "Unlicense"
name = "pallet-dkg-proposals"
repository = "https://github.com/substrate-developer-hub/substrate-darkwebb-node/"
version = "1.0.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# primitives
codec = { package = "parity-scale-codec", version = "2.3.0", default-features = false, features = ["derive", "max-encoded-len"] }
scale-info = { version = "1.0", default-features = false, features = ["derive"] }
dkg-runtime-primitives = { path = '../../dkg-runtime-primitives', default-features = false }

sp-std = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'master' }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'master' }
sp-io = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'master' }
sp-core = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'master' }
# frame dependencies
frame-support = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'master' }
frame-system = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'master' }
pallet-balances = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'master' }

frame-system-benchmarking = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'master', optional = true }
frame-benchmarking = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'master', optional = true }

[dev-dependencies]
pallet-collator-selection = { git = "https://github.com/paritytech/cumulus", branch = "master", default-features = false }
pallet-dkg-proposal-handler = { path = "../dkg-proposal-handler" }
pallet-dkg-metadata = { path = "../dkg-metadata" }
pallet-aura = { git = "https://github.com/paritytech/substrate.git", branch = "master" }
pallet-timestamp = { git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate.git", branch = "master" }
pallet-session = { git = "https://github.com/paritytech/substrate.git", branch = "master" }

[features]
default = ["std"]
std = [
	"codec/std",
	"scale-info/std",
	"sp-std/std",
	"sp-runtime/std",
	"sp-io/std",
	"sp-core/std",
	"frame-support/std",
	"frame-system/std",
	'frame-benchmarking/std',
	"pallet-balances/std",
	"pallet-collator-selection/std",
	"dkg-runtime-primitives/std",
]
runtime-benchmarks = [
  "frame-benchmarking",
  "frame-system/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
]
