name: End To End Testing

# on PRs & and when they are merged run the following jobs:
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - *

jobs:
  e2e:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Cache cargo registry
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}

    - name: Install toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly

    - name: Build Standalone Node (Release)
      run: cargo build --release -p dkg-standalone-node

    - name: Install Nodejs
      uses: actions/setup-node@v2
      with:
        node-version-file: './dkg-test-suite/.nvmrc'
        cache: 'yarn'

    - name: Install Packages
      run: cd dkg-test-suite && yarn

    - name: Run E2E Tests
      run: cd dkg-test-suite && yarn test
